/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/vendor
/node_modules
/public/storage
/public/uploads
.idea/
.ide
.phpintel/
.env
/public/img
public/uploads/product
/public/uploads/product
Docs/
/Docs/
storage
/product_img
storage/framework/sessions/
/storage/framework/sessions/
/storage/framework/views/
storage/framework/views/
public/payment_log/hdfcPaymentLog.txt
/public/payment_log/hdfcPaymentLog.txt
public/images/Thumbs.db
/public/images/Thumbs.db
package-lock.json
resources/views/layouts/admin.blade.php
/resources/views/layouts/admin.blade.php
composer.json
error_log
/config/app.php